html { 
  background: #FFD7A7 url('layer_5.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'Roboto';
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 540px;
}
.parallax-layer {
  width: 100%;
  height: 1080px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 540px;
}
  .layer-0 {
    top: 0;
    z-index: 9;
    background: url('logo.png') no-repeat top 50px center;
    /*background-size: 466.66px 233.33px;*/
    background-size: 700px 350px;
  }
  .layer-1 {
    top: -80px;
    z-index: 5;
    background-image: url('layer_4.png');
  }
  .layer-2 {
    top: -80px;
    z-index: 10;
    background-image: url('layer_3.png');
  }
  .layer-3 {
    top: -120px;
    z-index: 15;
    background-image: url('layer_omni.png');
  }
  .layer-4 {
    top: -80px;
    z-index: 20;
    background-image: url('layer_2.png');
  }
  .layer-5 {
    top: -80px;
    z-index: 25;
    background-image: url('layer_1.png');
  }
  .layer-6 {
    top: 0;
    z-index: 30;
    background-image: url('layer_0.png');
  }
.container {
  position: absolute;
  top: 1000px;
  background: #04131B;
  width: 100%;
  min-height: 1600px;
  font-weight: 300;
  text-align: center;
  color: rgb(178,229,229);
}
.content {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}
h1, h1 > a {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 40px auto;
  color: rgb(178,229,229);
  text-decoration: none;
}

h1 > a {
  font-weight: 700;
}

h1 > a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
  color: rgb(132,170,155);
  font-weight: 400;
  border-bottom: 2px solid rgb(132,170,155);
  line-height: 70%;
  width: 600px;
  margin: 30px auto 2px auto;
}

.credits {
  margin-bottom: 40px;
}


.credits > div, .credits-single > div {
  height: 1.35em;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.credits > div > div {
  width: 49.3%;
}

.credits > div > :first-child {
  float: left;
  text-align: right !important;
}

.credits > div > :last-child {
  color: rgb(132,170,155);
  float: right;
  text-align: left !important;
}
